USE [master]
GO
/****** Object:  Database [Boxito]    Script Date: 17/10/2025 03:57:19 p. m. ******/
CREATE DATABASE [Boxito]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Boxito', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Boxito.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Boxito_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Boxito_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Boxito].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Boxito]
GO
/****** Object:  StoredProcedure [dbo].[pa_consultar_contenido_x_idseccion]    Script Date: 17/10/2025 03:57:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_consultar_contenido_x_idseccion](
@idseccion INT
)

AS
-- Autor: Karime Ceballos Castillo
-- Sistema: Página de boxito
-- Propósito: Obtener el listado de los contenidos derivador de una determinada seccion

BEGIN
    SELECT cs.id AS idseccion, CS.nombre, cc.id AS idcontenido, cc.contenido 
    FROM cat_secciones cs  
    INNER JOIN cat_contenido cc ON cs.id = cc.idcatseccion
    WHERE cs.estatus = 1 AND cc.estatus = 1 AND cs.id = @idseccion
	-- select * from cat_contenido
END

GO
/****** Object:  StoredProcedure [dbo].[pa_consultar_imagen_x_idimagen]    Script Date: 17/10/2025 03:57:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_consultar_imagen_x_idimagen](
@idimagen INT
)

AS
BEGIN
	SELECT ci.id AS idimagen, CI.nombre_archivo, c.id AS idcarousel, c.href
	FROM cat_imagenes ci
	INNER JOIN carousel c ON ci.id=c.idcatimagen
	WHERE ci.estatus=1 AND c.estatus=1 AND ci.id=@idimagen
END

GO
/****** Object:  Table [dbo].[carousel]    Script Date: 17/10/2025 03:57:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[carousel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[idcatimagen] [int] NULL,
	[href] [text] NULL,
	[estatus] [tinyint] NULL,
	[registro] [date] NULL,
	[uc] [varchar](150) NULL,
 CONSTRAINT [PK_carousel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cat_clasificaciones]    Script Date: 17/10/2025 03:57:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cat_clasificaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[iddepartamento] [int] NULL,
	[nombre] [varchar](300) NULL,
	[estatus] [tinyint] NULL,
	[registro] [date] NULL,
	[uc] [varchar](150) NULL,
 CONSTRAINT [PK_cat_clasificaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cat_contenido]    Script Date: 17/10/2025 03:57:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cat_contenido](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[idcatseccion] [int] NULL,
	[contenido] [text] NULL,
	[estatus] [tinyint] NULL,
	[registro] [date] NULL,
	[uc] [varchar](150) NULL,
 CONSTRAINT [PK_cat_contenido] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cat_departamentos]    Script Date: 17/10/2025 03:57:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cat_departamentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[departamento] [varchar](300) NULL,
	[estatus] [tinyint] NULL,
	[registro] [date] NULL,
	[uc] [varchar](150) NULL,
 CONSTRAINT [PK_cat_departamentos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cat_imagenes]    Script Date: 17/10/2025 03:57:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cat_imagenes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ruta] [text] NULL,
	[nombre_archivo] [text] NULL,
	[estatus] [tinyint] NULL,
	[registro] [date] NULL,
	[uc] [varchar](150) NULL,
 CONSTRAINT [PK_cat_imagenes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cat_productos]    Script Date: 17/10/2025 03:57:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cat_productos](
	[Id] [int] NULL,
	[idclasificacion] [int] NULL,
	[seccion] [varchar](150) NULL,
	[contenido] [text] NULL,
	[estatus] [tinyint] NULL,
	[registro] [date] NULL,
	[uc] [varchar](150) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cat_secciones]    Script Date: 17/10/2025 03:57:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cat_secciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](300) NULL,
	[estatus] [tinyint] NULL,
	[registro] [date] NULL,
	[uc] [varchar](200) NULL,
	[iddepartamento] [int] NULL,
 CONSTRAINT [PK_cat_secciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cat_sucursales]    Script Date: 17/10/2025 03:57:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cat_sucursales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[sucursal] [varchar](150) NULL,
	[direccion] [varchar](300) NULL,
	[telefono] [varchar](100) NULL,
 CONSTRAINT [PK_cat_sucursales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[departamento]    Script Date: 17/10/2025 03:57:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[departamento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](300) NULL,
	[orden] [varchar](300) NULL,
	[estatus] [tinyint] NULL,
	[registro] [date] NULL,
	[uc] [varchar](150) NULL,
 CONSTRAINT [PK_departamento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[menu]    Script Date: 17/10/2025 03:57:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[menu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](300) NULL,
	[ruta] [text] NULL,
	[estatus] [tinyint] NULL,
	[registro] [date] NULL,
	[uc] [varchar](150) NULL,
 CONSTRAINT [PK_menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
