USE [Boxito]
GO
/****** Object:  StoredProcedure [dbo].[pa_buscar_productos]    Script Date: 28/10/2025 11:59:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_buscar_productos](
    @iddepartamento INT
)
AS
BEGIN
    SELECT DISTINCT
        c.nombre AS clasificacion,
        s.nombre AS separacion,
        CAST(p.contenido AS VARCHAR(MAX)) AS producto
    FROM cat_productos p
    INNER JOIN cat_clasificaciones c ON p.idclasificacion = c.id
    INNER JOIN cat_separacion s ON p.idseparacion = s.id  
    INNER JOIN cat_departamentos d ON c.iddepartamento = d.id
    WHERE p.estatus = 1 
    AND d.id = @iddepartamento
    ORDER BY c.nombre, s.nombre
END

GO
/****** Object:  Table [dbo].[cat_clasificaciones]    Script Date: 28/10/2025 11:59:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cat_clasificaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[iddepartamento] [int] NULL,
	[nombre] [varchar](300) NULL,
	[estatus] [tinyint] NULL,
	[registro] [date] NULL,
	[uc] [varchar](150) NULL,
 CONSTRAINT [PK_cat_clasificaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cat_contenido]    Script Date: 28/10/2025 11:59:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cat_contenido](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[idseccion] [int] NULL,
	[iddepartamento] [int] NULL,
	[contenido] [text] NULL,
	[estatus] [tinyint] NULL,
	[registro] [date] NULL,
	[uc] [varchar](150) NULL,
 CONSTRAINT [PK_cat_contenido] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cat_departamentos]    Script Date: 28/10/2025 11:59:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cat_departamentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[departamento] [varchar](300) NULL,
	[seccion] [int] NULL,
	[estatus] [tinyint] NULL,
	[registro] [date] NULL,
	[uc] [varchar](150) NULL,
 CONSTRAINT [PK_cat_departamentos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cat_imagenes]    Script Date: 28/10/2025 11:59:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cat_imagenes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ruta] [text] NULL,
	[nombre_archivo] [text] NULL,
	[estatus] [tinyint] NULL,
	[registro] [date] NULL,
	[uc] [varchar](150) NULL,
 CONSTRAINT [PK_cat_imagenes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cat_productos]    Script Date: 28/10/2025 11:59:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cat_productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[idclasificacion] [int] NULL,
	[idseparacion] [int] NULL,
	[contenido] [text] NULL,
	[estatus] [tinyint] NULL,
	[registro] [date] NULL,
	[uc] [varchar](150) NULL,
 CONSTRAINT [PK_cat_productos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cat_secciones]    Script Date: 28/10/2025 11:59:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cat_secciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](300) NULL,
	[estatus] [tinyint] NULL,
	[registro] [date] NULL,
	[uc] [varchar](200) NULL,
 CONSTRAINT [PK_cat_secciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cat_separacion]    Script Date: 28/10/2025 11:59:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cat_separacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[iddepartamento] [int] NULL,
	[idclasificacion] [int] NULL,
	[nombre] [varchar](3009) NULL,
	[estatus] [tinyint] NULL,
	[registro] [date] NULL,
	[uc] [varchar](150) NULL,
 CONSTRAINT [PK_cat_separacion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[cat_sucursales]    Script Date: 28/10/2025 11:59:53 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cat_sucursales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[sucursal] [varchar](150) NULL,
	[direccion] [varchar](300) NULL,
	[telefono] [varchar](100) NULL,
 CONSTRAINT [PK_cat_sucursales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[cat_clasificaciones] ON 

INSERT [dbo].[cat_clasificaciones] ([Id], [iddepartamento], [nombre], [estatus], [registro], [uc]) VALUES (1, 1, N'Aires acondicionados', 1, CAST(N'2025-10-17' AS Date), N'Boxito')
INSERT [dbo].[cat_clasificaciones] ([Id], [iddepartamento], [nombre], [estatus], [registro], [uc]) VALUES (2, 1, N'Ventiladores', 1, CAST(N'2025-10-17' AS Date), N'Boxito')
INSERT [dbo].[cat_clasificaciones] ([Id], [iddepartamento], [nombre], [estatus], [registro], [uc]) VALUES (3, 1, N'Extractores', 1, CAST(N'2025-10-17' AS Date), N'Boxito')
SET IDENTITY_INSERT [dbo].[cat_clasificaciones] OFF
SET IDENTITY_INSERT [dbo].[cat_contenido] ON 

INSERT [dbo].[cat_contenido] ([Id], [idseccion], [iddepartamento], [contenido], [estatus], [registro], [uc]) VALUES (1, NULL, 1, N'<h1>Aires acondicionados</h1><h2>OnOff</h2><p>Sin resultados</p>', 1, CAST(N'2025-10-08' AS Date), N'Boxito')
INSERT [dbo].[cat_contenido] ([Id], [idseccion], [iddepartamento], [contenido], [estatus], [registro], [uc]) VALUES (2, NULL, 1, N'<h2>Inverter</h2><p>Sin resultados</p>', 1, CAST(N'2025-10-08' AS Date), N'Boxito')
INSERT [dbo].[cat_contenido] ([Id], [idseccion], [iddepartamento], [contenido], [estatus], [registro], [uc]) VALUES (3, NULL, 1, N'<h2>Refacciones</h2><p>Sin resultados</p>', 1, CAST(N'2025-10-08' AS Date), N'Boxito')
GO
SET IDENTITY_INSERT [dbo].[cat_contenido] OFF
SET IDENTITY_INSERT [dbo].[cat_departamentos] ON 

INSERT [dbo].[cat_departamentos] ([Id], [departamento], [seccion], [estatus], [registro], [uc]) VALUES (1, N'Aire y ventilacion', 2, 1, CAST(N'2025-10-27' AS Date), N'Boxito')
INSERT [dbo].[cat_departamentos] ([Id], [departamento], [seccion], [estatus], [registro], [uc]) VALUES (2, N'Plomeria', 2, 1, CAST(N'2025-10-27' AS Date), N'Boxito')
INSERT [dbo].[cat_departamentos] ([Id], [departamento], [seccion], [estatus], [registro], [uc]) VALUES (3, N'Baños', 2, 1, CAST(N'2025-10-27' AS Date), N'Boxito')
SET IDENTITY_INSERT [dbo].[cat_departamentos] OFF
SET IDENTITY_INSERT [dbo].[cat_imagenes] ON 

INSERT [dbo].[cat_imagenes] ([Id], [ruta], [nombre_archivo], [estatus], [registro], [uc]) VALUES (1, N'assets\imagenes\', N'aire1.png', 1, CAST(N'2025-10-09' AS Date), N'Boxito')
INSERT [dbo].[cat_imagenes] ([Id], [ruta], [nombre_archivo], [estatus], [registro], [uc]) VALUES (2, N'assets\imagenes\', N'aire2.png', 1, CAST(N'2025-10-09' AS Date), N'Boxito')
INSERT [dbo].[cat_imagenes] ([Id], [ruta], [nombre_archivo], [estatus], [registro], [uc]) VALUES (3, N'assets\imagenes\', N'aire3.png', 1, CAST(N'2025-10-09' AS Date), N'Boxito')
SET IDENTITY_INSERT [dbo].[cat_imagenes] OFF
SET IDENTITY_INSERT [dbo].[cat_productos] ON 

INSERT [dbo].[cat_productos] ([Id], [idclasificacion], [idseparacion], [contenido], [estatus], [registro], [uc]) VALUES (1, 1, 1, N'Sin productos', 1, CAST(N'2025-10-27' AS Date), N'Boxito')
INSERT [dbo].[cat_productos] ([Id], [idclasificacion], [idseparacion], [contenido], [estatus], [registro], [uc]) VALUES (2, 1, 2, N'Sin productos', 1, CAST(N'2025-10-27' AS Date), N'Boxito')
INSERT [dbo].[cat_productos] ([Id], [idclasificacion], [idseparacion], [contenido], [estatus], [registro], [uc]) VALUES (3, 1, 3, N'Sin productos', 1, CAST(N'2025-10-27' AS Date), N'Boxito')
GO
SET IDENTITY_INSERT [dbo].[cat_productos] OFF
SET IDENTITY_INSERT [dbo].[cat_secciones] ON 

INSERT [dbo].[cat_secciones] ([Id], [nombre], [estatus], [registro], [uc]) VALUES (1, N'Nosotros', 1, CAST(N'2025-10-27' AS Date), N'Boxito')
INSERT [dbo].[cat_secciones] ([Id], [nombre], [estatus], [registro], [uc]) VALUES (2, N'Departamentos', 1, CAST(N'2025-10-27' AS Date), N'Boxito')
INSERT [dbo].[cat_secciones] ([Id], [nombre], [estatus], [registro], [uc]) VALUES (3, N'Ofertas', 1, CAST(N'2025-10-27' AS Date), N'Boxito')
SET IDENTITY_INSERT [dbo].[cat_secciones] OFF
SET IDENTITY_INSERT [dbo].[cat_separacion] ON 

INSERT [dbo].[cat_separacion] ([Id], [iddepartamento], [idclasificacion], [nombre], [estatus], [registro], [uc]) VALUES (1, 1, 1, N'On/Off', 1, CAST(N'2025-10-27' AS Date), N'Boxito')
INSERT [dbo].[cat_separacion] ([Id], [iddepartamento], [idclasificacion], [nombre], [estatus], [registro], [uc]) VALUES (2, 1, 1, N'Inverter', 1, CAST(N'2025-10-27' AS Date), N'Boxito')
INSERT [dbo].[cat_separacion] ([Id], [iddepartamento], [idclasificacion], [nombre], [estatus], [registro], [uc]) VALUES (3, 1, 1, N'Refacciones', 1, CAST(N'2025-10-27' AS Date), N'Boxito')
SET IDENTITY_INSERT [dbo].[cat_separacion] OFF
SET IDENTITY_INSERT [dbo].[cat_sucursales] ON 

INSERT [dbo].[cat_sucursales] ([Id], [sucursal], [direccion], [telefono]) VALUES (1, N'Yucatan', N'Calle 65 #645 x 10 y 12 Colonia Emilio Portes Gill, Mérida, Yucatán. C.P. 97167', N'8000026948')
INSERT [dbo].[cat_sucursales] ([Id], [sucursal], [direccion], [telefono]) VALUES (2, N'Yucatan', N'Calle 66 #539 x 65 y 67 Colonia Centro, Mérida, Yucatán. C.P. 97000', N'9999239053')
INSERT [dbo].[cat_sucursales] ([Id], [sucursal], [direccion], [telefono]) VALUES (3, N'Yucatan', N'Calle 50 #440-A y B x 29 y 31 Colonia Jesús Carranza, Mérida, Yucatán. C.P. 97109', N'9999264195')
SET IDENTITY_INSERT [dbo].[cat_sucursales] OFF
